<a href="https://colab.research.google.com/github/HeyLaxmi/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Copy_of_Black_Friday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Url
black_friday_csv_link = "https://raw.githubusercontent.com/pierretd/datasets-1/master/BlackFriday.csv"
# Reading in csv
black_friday_df = pd.read_csv(black_friday_csv_link)

### The above dataset has already been loaded in for you, answer the following questions. If you get done quickly, move onto stretch goals and super stretch goals. Work on improving your model until 8:40.

#### 1) Clean the data set and drop the Null/NaN values. Rename  Product_Category_1-3 columns with an actual Product.

In [22]:
black_friday_df = black_friday_df.dropna()
black_friday_df.dropna(axis='columns')

        User_ID Product_ID  ... Product_Category_3 Purchase
1       1000001  P00248942  ...               14.0    15200
6       1000004  P00184942  ...               17.0    19215
13      1000005  P00145042  ...                5.0    15665
14      1000006  P00231342  ...               14.0     5378
16      1000006   P0096642  ...                4.0    13055
18      1000007  P00036842  ...               16.0    11788
19      1000008  P00249542  ...               15.0    19614
24      1000008  P00303442  ...               14.0    11927
28      1000009  P00078742  ...               14.0     5391
29      1000010  P00085942  ...                8.0    16352
36      1000010  P00182642  ...                9.0    12909
38      1000010  P00155442  ...               15.0    15212
39      1000010  P00221342  ...                5.0    15705
41      1000010  P00111142  ...               16.0    18963
43      1000010   P0094542  ...                9.0    16406
44      1000010  P00148642  ...               13.0    12642
46      1000010  P00113242  ...                8.0    11562
48      1000011  P00110842  ...                5.0    19327
54      1000013  P00182342  ...                6.0    12107
64      1000015  P00042142  ...                6.0    11458
65      1000016  P00244242  ...               15.0    11755
67      1000017  P00019342  ...               15.0    15872
69      1000017  P00073842  ...               17.0    15172
71      1000018  P00190742  ...                9.0    10754
72      1000018  P00151842  ...                9.0     2802
73      1000018  P00112642  ...                5.0    19473
75      1000018  P00034442  ...               16.0    19313
76      1000018  P00222242  ...               13.0    15182
77      1000018  P00118342  ...               15.0    15985
78      1000018  P00324742  ...               14.0    16454
...         ...        ...  ...                ...      ...
537489  1004728  P00324742  ...               14.0     9770
537490  1004728  P00034442  ...               16.0    15277
537495  1004728   P0096742  ...               12.0    13115
537498  1004728  P00122442  ...               15.0    11802
537499  1004728  P00351142  ...               17.0    11610
537507  1004728  P00016342  ...                8.0     7604
537508  1004728  P00214642  ...               16.0     4683
537510  1004729  P00070042  ...               16.0    15622
537515  1004731  P00034042  ...               16.0    11466
537516  1004731  P00221442  ...                5.0    15525
537517  1004732  P00202142  ...               17.0     8097
537519  1004732  P00345842  ...               14.0    16469
537520  1004732  P00329542  ...               16.0    15493
537521  1004732  P00235842  ...               16.0     6003
537523  1004732  P00324442  ...               16.0     5905
537526  1004732  P00122442  ...               15.0     3822
537528  1004732  P00217542  ...               11.0    11879
537529  1004732  P00184942  ...               17.0    19217
537531  1004732  P00216242  ...                5.0    10974
537539  1004732  P00113842  ...               16.0    12510
537542  1004732  P00085242  ...               17.0    10036
537544  1004732  P00093342  ...               18.0    11535
537545  1004733  P00144042  ...                4.0     9687
537546  1004733  P00070042  ...               16.0    15515
537547  1004733  P00244042  ...               15.0    11543
537549  1004734  P00345842  ...               14.0    13082
537551  1004735  P00313442  ...                8.0     6863
537562  1004736  P00146742  ...               14.0    11508
537571  1004737  P00221442  ...                5.0    11852
537573  1004737  P00111142  ...               16.0    19196

[164278 rows x 12 columns]

In [0]:
'df.rename(index=str, columns= ('product_category_1', 'product_category_2', 'product_category_3)

In [31]:
import numpy as np
print(black_friday_df.columns)
black_friday_df.columns = ['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Foods',
       'Appliance', 'Technology', 'Purchase']

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [0]:
Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [24]:
black_friday_df.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

#### 2) How many unique user_ids does the data set contain?

In [34]:
variablehi = black_friday_df['User_ID'].nunique()
print(variablehi)

5868

In [33]:
black_friday_df.head(5)

    User_ID Product_ID Gender    Age  ...  Foods Appliance Technology  Purchase
1   1000001  P00248942      F   0-17  ...      1       6.0       14.0     15200
6   1000004  P00184942      M  46-50  ...      1       8.0       17.0     19215
13  1000005  P00145042      M  26-35  ...      1       2.0        5.0     15665
14  1000006  P00231342      F  51-55  ...      5       8.0       14.0      5378
16  1000006   P0096642      F  51-55  ...      2       3.0        4.0     13055

[5 rows x 12 columns]

#### 3) How many unique age brackets are in the dataset. Which Age bracket has the most entries? Which has the least?

In [35]:
black_friday_df.Age.nunique()

7

In [36]:
black_friday_df.Age.value_counts()
#26-35
#0-17

26-35    65916
36-45    32758
18-25    30889
46-50    13135
51-55    11018
55+       5773
0-17      4789
Name: Age, dtype: int64

#### 4) Transform the Gender categorical variable into a numerical variable. Then transform that numerical value into a Boolean.

In [0]:
black_friday_df['Gender'].replace(0, 'F',inplace=True)
black_friday_df['Gender'].replace(1, 'M',inplace=True)

In [38]:
black_friday_df['Gender'] = black_friday_df['Gender'].replace('0',True,inplace=True)
black_friday_df['Gender'] = black_friday_df['Gender'].replace('1',False,inplace=True)
black_friday_df.head(5)

    User_ID Product_ID Gender    Age  ...  Foods Appliance Technology  Purchase
1   1000001  P00248942   None   0-17  ...      1       6.0       14.0     15200
6   1000004  P00184942   None  46-50  ...      1       8.0       17.0     19215
13  1000005  P00145042   None  26-35  ...      1       2.0        5.0     15665
14  1000006  P00231342   None  51-55  ...      5       8.0       14.0      5378
16  1000006   P0096642   None  51-55  ...      2       3.0        4.0     13055

[5 rows x 12 columns]

#### 5) What is the average Occupation score? What is the Standard Deviation? What is the maximum and minimum value?

In [39]:
print('Average Occupation Score:')
black_friday_df.Occupation.mean()

Average Occupation Score:

8.180383252778826

In [40]:
print('Standard Deviation:')
black_friday_df.Occupation.std()

Standard Deviation:

6.48670510850825

In [41]:
print('Maximum Value:')
black_friday_df['Occupation'].max()
print('Minimum Value:')
black_friday_df['Occupation'].min()

Maximum Value:
Minimum Value:

0

#### 6) Group Age by Gender and print out a cross tab with age as the y axis

In [0]:
blackfriday2 = black_friday_df.groupby(black_friday_df['Age'])

In [0]:
pd.crosstab([index = blackfriday2]rownames= blackfridaycross

### Stretch Goal:

#### Build a linear regression model to predict the purchase amount given the other features in the data set with scikit learn.

### Super Stretch Goals:

#### Plot the actual values vs the predicted values.

#### Find a good way to measure your model's predictive power.